
// Pantone colors
$background: #f1e6de;
$background-dark: #E1D6C6; ;
$background-light: #f6ede8;
$primary: #928781;
$primary-dark: #4C4024;
$text: #4C4024;

.background-light {
  background-color: $background-light;
}